.button {
-fx-background-color: #05C81E;
-fx-background-radius: 100;
}

.button:hover {
-fx-background-color: #40D754;
-fx-background-radius: 100;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 7, 0, 0, 1);
}

.button:pressed {
-fx-background-color: #039E12;
-fx-background-radius: 100;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 7, 0, 0, 1);
}