.button {
-fx-background-color: #0073CF;
-fx-background-radius: 4;
}

.button:hover {
-fx-background-color: #3B97DF;
-fx-background-radius: 4;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 1);
}

.button:pressed {
-fx-background-color: #0055AD;
-fx-background-radius: 4;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 5, 0, 0, 1);
}