.button {
-fx-background-color: #DF3E3F;
-fx-background-radius: 4;
}

.button:hover {
-fx-background-color: #EB6D6F;
-fx-background-radius: 4;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 1);
}

.button:pressed {
-fx-background-color: #B72528;
-fx-background-radius: 4;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 5, 0, 0, 1);
}