.text-field {
-fx-border-color: #898989;
-fx-border-radius: 4;
-fx-border-width:  3px 3px 3px 3px;
}

.text-field:hover {
-fx-border-color: #58A8E8;
-fx-border-radius: 4;
-fx-border-width:  3px 3px 3px 3px;
}

.text-field:focused {
-fx-border-color: #1D85D7;
-fx-border-radius: 4;
-fx-border-width:  3px 3px 3px 3px;
}